# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]

# ==========================================
# Virtual Environments
# ==========================================
.venv/
venv/
env/
.conda/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Data
# (Datasets are not versioned)
# ==========================================
data/raw/
data/bronze/
data/silver/
data/gold/

# ==========================================
# Trained Models
# ==========================================
models/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db